
.header {
    display: flex;
    justify-content: end;
    padding: 3%;
    gap: 5px;
}

#comencarPartida{
    background-color: lightgreen;
    border-radius: 3px;
}

#main-titol{
    display: flex;
    justify-content: center;
    background-color: rgb(199, 173, 230);
    border-radius: 15px;
}

.p-actual{
    letter-spacing: 15px; /*Ens serveix per poder separar les lletres*/
    font-size: 20px;
}

/* div que controla la part de la puntuació + la imatge (anirà canviant segons els intents que faci)*/
.main-contingut{
    padding-top: 2%;
    background-color: lightcoral;
    padding: 2%;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* div que controla el sistema de puntuació */
.sistema-puntuacio-main{
    color: white;
    border: 3px black;
    background-color: magenta;
    border-radius: 9%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}

/* div que conrola l'imatge */
.imatge-contingut img{
    width: 250px;
    height: 250px;
}

/* Apartat botons */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    width: 100%;
    gap: 5px;
}

/* Color dels botons (inicialment els poso en vermells)*/
.footer button{
    background-color: greenyellow;
    color: red;
    border-radius: 5px;
    border-color: red;
}